.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore folders:
/Users/jessica/Dropbox/ShawJR/2025/dev/papers
/Users/jessica/Dropbox/ShawJR/2025/dev/rawdata
/Users/jessica/Dropbox/ShawJR/2025/dev/indata
/Users/jessica/Dropbox/ShawJR/2025/dev/aidata
/Users/jessica/Dropbox/ShawJR/2025/dev/ardata
/Users/jessica/Dropbox/ShawJR/2025/dev/ddata
/Users/jessica/Dropbox/ShawJR/2025/dev/output
/Users/jessica/Dropbox/ShawJR/2025/dev/background_gene_sets
/Users/jessica/Dropbox/ShawJR/2025/dev/inspo
/Users/jessica/Dropbox/ShawJR/2025/dev/renv

# Files over 4mb
dev/aidata/ai_p4c_soma.csv.gz
dev/aidata/ai_p4c_rna.csv.gz
dev/ddata/archive/archive_results_20250211/t_p4c_soma_lm_singleaptamer_augment.csv.gz
dev/ddata/f_nonsigt21byage_d21t21clustered.csv.gz
dev/ddata/f_nonsigt21byage_d21clustered.csv.gz
dev/ardata/ar_p4c_daDSmeanZ_rna_metab_cytof.csv.gz
dev/ardata/ar_p4c_daDSsumZ_rna_metab_cytof.csv.gz
dev/ardata/ardata_chr21trace.csv.gz
dev/ardata/ar_nonsigt21byage_d21t21clustered.csv.gz
dev/ardata/ar_p4c_soma.csv.gz
dev/ardata/ar_p4c_soma_t21only.csv.gz
dev/ardata/ar_p4c_soma_sigt21byage_t21only_clustering.csv
dev/ardata/ar_p4c_soma_sigt21byage_t21only_clustering_input.csv
dev/ardata/ar_p4c_rna.csv.gz
dev/ardata/ar_nonsigt21byage_loess_predicted_values.csv.gz
dev/ardata/ar_p4c_daDSmeanZ_rna_metab_cytof
dev/indata/in_donovan2024_p4c_rna_fpkm.csv.gz
dev/rawdata/Donovan2024_syn31481952.5/HTP_SOMAscan_Proteomics_Synapse.txt
dev/rawdata/Donovan2024_syn31481952.5/HTP_WholeBlood_RNAseq_Counts_Synapse.txt.gz
dev/rawdata/Donovan2024_syn31481952.5/HTP_WholeBlood_RNAseq_FPKMs_Synapse.txt.gz
dev/rawdata/HTP_SOMAscan_Proteomics_Synapse.txt
dev/renv/library/macos/R-4.4/aarch64-apple-darwin20/org.Hs.eg.db/extdata/org.Hs.eg.sqlite
dev/.Rproj.user/shared/notebooks/5637313F-bak_ar_clusterProfiler/1/s/cz3wni30zbuaa_t/_rs_rdf_b4396410b7e5.rdf
dev/.Rproj.user/shared/notebooks/2AACD2E5-ar_clusterProfiler_filterbg/1/s/cz3wni30zbuaa_t/_rs_rdf_b4396410b7e5.rdf
dev/.Rproj.user/shared/notebooks/1B255594-ar_clusterProfiler/1/s/cz3wni30zbuaa_t/_rs_rdf_b4396410b7e5.rdf
dev/.Rproj.user/CD26233C/ctx/ctx-27921/environmentTmp
dev/.Rproj.user/CD26233C/ctx/ctx-22299/environmentTmp
dev/.Rproj.user/CD26233C/ctx/ctx-42165/environmentTmp
dev/.Rproj.user/CD26233C/ctx/ctx-47749/environmentTmp
dev/.Rproj.user/CD26233C/ctx/ctx-22645/environment
